<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzu.hospitalchargemanagementsystem.mapper.DoctorPatientMapper">

    <insert id="insertRecord" parameterType="com.zzu.hospitalchargemanagementsystem.model.DoctorPatient">
        insert into doctor_patient(doctor, patient, visitedtime) values(#{doctor}, #{patient}, #{visitedtime});
    </insert>


    <select id="selectRecordByDoctor" resultType="java.lang.String">
        select patient from doctor_patient where doctor = #{doctor} order by visitedtime desc
    </select>

    <select id="selectRecord" resultType="com.zzu.hospitalchargemanagementsystem.model.DoctorPatient">
        select patient from doctor_patient where doctor = #{doctor} and patient = #{patient}
    </select>

    <update id="updateRecord">
        update doctor_patient set  visitedtime = #{visitedtime} where doctor = #{doctor} and patient = #{patient}
    </update>

    <delete id="deleteRecord">
        delete from doctor_patient where doctor = #{doctor} and patient = #{patient}
    </delete>

</mapper>