<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body style="width: 100%;">
<h2>修改密码</h2>
<div style="width: 80%;">
    <form class="layui-form" action="/resetpassword" method="post">
        <br/>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-block">
                <span th:if="${id != 'none'}">
                    <input type="text" name="id" autocomplete="off" class="layui-input" th:value="${id}" readonly>
                </span>
                <span th:if="${id == 'none'}">
                    <input type="text" name="id" autocomplete="off" class="layui-input" placeholder="手机号">
                </span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" name="password"  id="password" lay-verify="required|password"  autocomplete="off" class="layui-input" required>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码(重复)</label>
            <div class="layui-input-block">
                <input type="password" name="repassword"  id="repassword" lay-verify="required|password" autocomplete="off" class="layui-input"  required>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <!--<span th:if="${id == 'none'}">-->
                    <!--<a href="/">返回登录</a>-->
                <!--</span>-->
            </div>
        </div>


    </form>
</div>

<script src="/layui/layui.js"></script>
<script>

    layui.use(['form', 'util', 'laydate'], function(){
        var form = layui.form;

        form.verify({

            chineseName: function (value) { //最小长度验证
                var pattern = /[\u4e00-\u9fa5]/;//中文验证
                var txt = pattern.test(value);

                if (value.length < 2 || !txt) {
                    return '姓名必须是中文，且至少2个字符';
                }
                if(value.length > 8)return "长度必须少于8个字符";
            },

            password: [/(.+){6,12}$/, '密码必须6到12位'],//密码
        });

        form.on('submit(demo)', function(data){
            data = data.field;
            // alert(password +  " " + repassword);
            if(data.password == ""){
                // layui.msg("修改成功");
                alert("密码不能为空");
            }else if(data.repassword == data.password){
                alert("修改成功, 请重新登录");
                return true;
            } else{
                alert("两次输入密码不一致");
                return false;
            }
        });

    });

</script>
</body>
</html>