<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <style>
        table th{
            width: 100px;
        }
        table tr{
            height: 30px;
        }
        .even{
            background-color: #f2f2f2;
        }
    </style>
</head>
<body style="width: 90%; margin: 0 auto">
<br/>
<form class="layui-form" th:action="'/statistics/' + ${session.loginUserId}" method="post">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">日期范围</label>
            <div class="layui-input-inline" style="width: 120px; ">
                <input type="text" name="from" id="from" lay-verify="date" placeholder="yyyy-MM-dd" th:value="${from}" autocomplete="off" class="layui-input" disabled>
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline" style="width: 120px;">
                <input type="text" name="to" id="to" lay-verify="date" placeholder="yyyy-MM-dd" th:value="${to}" autocomplete="off" class="layui-input" disabled>
            </div>
        </div>
    </div>

</form>
<div style="padding-left: 45px; display: inline-block">
    <p>姓名：<span th:text="${doctor.name}"></span> &nbsp; &nbsp; 手机号：<span th:text="${doctor.id}"></span></p><br/>
</div>
<div>
    <table style="width: 80%; margin: 0 auto; text-align: center">
        <tr style="height: 35px; background-color: #dedede">
            <th>序号</th>
            <th>病种</th>
            <th>问诊人数</th>
            <th>问诊人次</th>
            <th>治疗人次</th>
            <th>治疗总费用</th>
        </tr>
        <tr th:each="result, iterStat: ${diseasesStatisticsByDoctor}" th:class="${iterStat.odd} ? 'odd':'even'">
            <td th:text="${iterStat.count}"></td>
            <td th:text="${result.diseases}"></td>
            <td th:text="${result.consultDiseasesNumInDate}"></td>
            <td th:text="${result.consultDiseasesCountInDate}"></td>
            <td th:text="${result.treatmentDiseasesCountInDate}"></td>
            <td th:text="${result.costDiseasesInDate}"></td>
        </tr>
    </table>
</div>

<script src="/layui/layui.js"></script>
<script>

    layui.use(['form', 'util', 'laydate'], function() {
        var form = layui.form;
        var layer = layui.layer;
        var util = layui.util;
        var laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#from'
        });
        laydate.render({
            elem: '#to'
        });
    });
</script>
</body>
</html>